<ion-tabs #tabsSelector>

    <ion-tab-bar slot="bottom" color="light">
        <ion-tab-button tab="ads">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Annonces</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contest">
            <ion-icon name="trophy"></ion-icon>
            <ion-label>Jeux concours</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="donate">
            <ion-icon></ion-icon>
            <ion-label>Faire un Don</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon name="person"></ion-icon>
            <ion-label>Mon compte</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings / Menu</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>

<ion-fab class="donate-kiao" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" [class.mat-elevation-z20]="true" (click)="activateTabDonate()">
        <ion-icon src="assets/kiao_logo.svg" class="donate-kiao-svg"></ion-icon>
    </ion-fab-button>
</ion-fab>
